/* This is from 0px to 768px */

.rating__card__container {
	max-width: 400px;
	background: linear-gradient(120deg, var(--darkBlue), var(--veryDarkBlue));
	padding: 20px;
	border-radius: 10px;
}
.rating__card__star {
	background-color: var(--darkBlue);
	padding: 15px;
	border-radius: 50%;
}
.rating__card__info {
	margin: 10px 0px;
}
.rating__card__info h1 {
	color: var(--white);
	margin-bottom: 15px;
	font-weight: 700;
}
.rating__card__info p {
	color: var(--lightGrey);
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5rem;
}
.rating__card__rate-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating__card__rate-btn button {
	cursor: pointer;
	background-color: var(--darkBlue);
	color: var(--lightGrey);
	padding: 15px 20px;
	border-radius: 50%;
	border: none;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
	transition: 0.3s;
}
.rating__card__rate-btn button:hover {
	cursor: pointer;
	background-color: var(--lightGrey);
	color: var(--white);
}
.rating__card__rate-btn button:focus {
	cursor: pointer;
	background-color: var(--orange);
	color: var(--white);
}
.rating__card__submit-btn {
	margin-top: 30px;
}
.rating__card__submit-btn button {
	cursor: pointer;
	background-color: var(--orange);
	color: var(--white);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	width: 100%;
	border: none;
	border-radius: 25px;
	padding: 15px 0px;
	transition: 0.3s;
}

.rating__card__submit-btn button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--orange);
}

@media (min-width: 500px) {
}
